<include file="Public/xheader"/>
<!-- PAGE CONTENT BEGINS -->

<form action = "{:U('app_del')}" method ="POST" enctype= "multipart/form-data">
<table class="table table-striped table-bordered table-hover" style="width: 50%">
    <tbody class="task">
    <tr>
        <td>
            <input type="text" name="app_id" class="form-control" placeholder="填写app_id">
        </td>
        <td>
            <input type="submit" class="btn btn-warning" value="提交删除">
        </td>
    </tr>
    </tbody>
</table>
</form>