<include file="Public/xheader"/>
<!-- PAGE CONTENT BEGINS -->
<div class="row" style="padding-left: 10px;">
    <div style="text-align: center;font-size: 2rem">
        {$work_info['work_name']}--任务执行列表
    </div>
    <!--
    <form class="form-inline" action="" method="get">
        <label class="inline">人工编号:</label>
        <input type="text" name="device_num" class="form-control" value="{$device_num}">
       <label class="inline">任务状态:</label>
        {:IForm::select(['field' =>'status', 'options'=>$status_name,'remind'=>'选择状态'],$status)}
        <button type="submit" class="btn btn-purple btn-sm">
            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
            搜索
        </button>
        <input type="hidden" name="work_id" value="{$work_id}">
        <input type="hidden" name="m" value="Qwadmin">
        <input type="hidden" name="c" value="Work">
        <input type="hidden" name="a" value="task_list">
         <span class="label label-success" style="float: right">已经执行{$GLOBALS['__PAGE_COUNT__']}个任务</span>
    </form>
    -->
</div>
<div class="space-4"></div>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th style="width: 70px;"  class="task">序号</th>
        <th style="width: 60px;"  class="task">账号ID</th>
        <th style="width: 120px;"  class="task">邮箱</th>
        <th style="width: 120px;"  class="task">密码</th>
        <th style="width: 60px;"  class="task">状态</th>
        <th style="width: 120px;"  class="task">领取时间</th>
        <th style="width: 120px;"  class="task">更新时间</th>
        </tr>
        </thead>
        <tbody class="task">
        <volist name="task_list" id="d">
         <tr>
             <td>{$i+$row_offset}</td>
             <td>{$d['pos']}</td>
             <td>{$d['email']}</td>
            <td>{$d['password']}</td>
            <td>
                <if condition="$d['status'] eq 100">
                    <span class="label label-success">成功</span>
                </if>
                <if condition="$d['status'] eq 101">
                    <span class="label label-warning">账号问题</span>
                </if>
                <if condition="$d['status'] eq 102">
                    <span class="label label-warning">验证码获取错误</span>
                </if>
                <if condition="$d['status'] eq 103">
                    <span class="label label-warning">验证码数据错误</span>
                </if>
                <if condition="$d['status'] eq 104">
                    <span class="label label-warning">打码错误</span>
                </if>
                <if condition="$d['status'] eq 401">
                    <span class="label label-warning">购买错误</span>
                </if>
                <if condition="$d['status'] eq 403">
                    <span class="label label-warning">登陆错误</span>
                </if>
                <if condition="$d['status'] eq 408">
                    <span class="label label-warning">已购买过此App</span>
                </if>
                <if condition="$d['status'] eq 410">
                    <span class="label label-warning">打码错误</span>
                </if>
                <if condition="$d['status'] eq 1000">
                    <span class="label label-warning">清理出错</span>
                </if>
                <if condition="$d['status'] eq 1001">
                    <span class="label label-warning">登录失败</span>
                </if>
                <if condition="$d['status'] eq 1002">
                    <span class="label label-warning">HOME失败</span>
                </if>
                <if condition="$d['status'] eq 1003">
                    <span class="label label-warning">搜索未命中</span>
                </if>
                <if condition="$d['status'] eq 1004">
                    <span class="label label-warning">搜索失败</span>
                </if>
                <if condition="$d['status'] eq 1005">
                    <span class="label label-warning">打开app详情失败</span>
                </if>
                <if condition="$d['status'] eq 1006">
                    <span class="label label-warning">准备购买参数</span>
                </if>
                <if condition="$d['status'] eq 1007">
                    <span class="label label-warning">设置密码错误</span>
                </if>
                <if condition="$d['status'] eq 1008">
                    <span class="label label-warning">购买失败</span>
                </if>
                <if condition="$d['status'] eq 1009">
                    <span class="label label-warning">二次购买</span>
                </if>
                <if condition="$d['status'] eq 1010">
                    <span class="label label-warning">下载错误</span>
                </if>
                <if condition="$d['status'] eq 1011">
                    <span class="label label-warning">XP事件错误</span>
                </if>
                <if condition="$d['status'] eq 1012">
                    <span class="label label-warning">无法连接Itunes</span>
                </if>
                <if condition="$d['status'] eq 1013">
                    <span class="label label-warning">改机后无法登陆</span>
                </if>
                <if condition="$d['status'] eq 1014">
                    <span class="label label-warning">账号锁定</span>
                </if>
                <if condition="$d['status'] eq 2000">
                    <span class="label label-warning">任务超时</span>
                </if>
                <if condition="$d['status'] eq 2">
                    <span class="label label-warning">失败</span>
                </if>
                <if condition="$d['status'] eq 1">
                    <span class="label label-success">成功</span>
                </if>
                <if condition="$d['status'] eq 0">
                    <span class="label">执行中</span>
                </if>
            </td>
            <td>{$d['created_at']}</td>
            <td>{$d['updated_at']}</td>
        </tr>
    </volist>
    </tbody>
</table>
{$page}
<!-- PAGE CONTENT ENDS -->
<include file="Public/xfooter"/>
<style>
    .task {
        vertical-align:middle !important;
        text-align: center
    }
</style>
