Package: com.nkaso.cargo
Name: ASO大神
Depends: kr.iolate.simulatetouch, com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0)
Version: 180302.092136
Architecture: iphoneos-arm
Description: ASO大神
Maintainer: ASO大神
Author: ASO大神
Section: ASO
