<include file="Public/xheader"/>
<!-- PAGE CONTENT BEGINS -->
<div class="row" style="padding-left: 10px;">
    <form class="form-inline" action="" method="get">
        <table style="width: 100%;">
        <tr>
        <td><label class="inline">人工编号:</label></td>
        <td><input type="text" name="device" class="form-control" value="{$device}"></td>
        <td><label class="inline">IP:</label></td>
        <td><input type="text" name="ip" class="form-control" value="{$ip}"></td>
        <td>
        <button type="submit" class="btn btn-purple btn-sm">
            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
            搜索
        </button>
        <input type="hidden" name="m" value="Qwadmin">
        <input type="hidden" name="c" value="Check">
        <input type="hidden" name="a" value="show_ip">
        </td>
        </tr>
        </table>
    </form>
</div>
<div class="space-4"></div>

<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th style="width: 50px;">序号</th>
        <th style="width: 120px;">IP</th>
        <th style="width: 100px;">人工编号</th>
        <th style="width: 150px;">重复时间</th>
    </tr>
    </thead>
    <tbody class="task">
    <volist name="list" id="d">
        <tr>
            <td>{$i+$row_offset}</td>
            <td>{$d['ip']} / {$d['address']}</td>
            <td>{$d['device']}</td>
            <td>{$d['created_at']}</td>
        </tr>
    </volist>
    </tbody>
</table>
{$page}
<!-- PAGE CONTENT ENDS -->
<include file="Public/xfooter"/>