Package: com.nkaso.cargo.springboard
Name: cargospring
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nkaso
Author: nkaso
Section: Tweaks
Version: 0.0.1-141+debug
Installed-Size: 104
