Package: com.nkaso.cargo.daemon
Name: cargodaemon
Depends: 
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: nkaso
Author: nkaso
Section: System
Tag: role::hacker
Version: 0.0.1-207+debug
Installed-Size: 96
