Package: com.nkaso.cargo.appstore
Name: cargostore
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nkaso
Author: nkaso
Section: Tweaks
