<include file="Public/xheader"/>
<div style="text-align: center;font-size: 2rem">
	新增工作计划 [<span id="sum_num" style="margin: 0 5px;">0 成功数</span>]
</div>
<!-- PAGE CONTENT BEGINS -->
<form class="form-horizontal" role="form" action="{:U('add')}" method="post">
	<div class="container-fluid">
		<div class="row" style="margin-bottom: 1rem;">
			<div class="col-xs-4 col-sm-2">
				<input type="hidden" name="work_id" value="{$work_info['work_id']}">
				<input type="submit" class="btn btn-purple" value="保存工作计划">
			</div>

			<div class="col-xs-4 col-sm-2">
				<div class="btn btn-success" id="clear_all">全部清零</div>
			</div>
			<div class="col-xs-4 col-sm-2">
				<div class="btn btn-primary" id="set_first">设置和首个任务一样</div>
			</div>
			<div class="col-xs-4 col-sm-2">
			</div>
		</div>
		<div class="row" style="margin-bottom: 1rem;   ">
			<input type="text" name="tpl_name" value="" placeholder="模板名称" style="width: 70%; margin-left: 12px;">
		</div>
		<div class="row" id="plain_list">

		</div>
	</div>
</form>
<div style="display: none">
	<div class="col-xs-6 col-sm-3" id="task_tpl">
		<table class="table table-bordered"><tr>
			<td><input type="number" class="task_num" placeholder="输入任务数量"></td></tr>
			<tr>
				<td>
					<div style="text-align: center" class="time">00:00</div>
				</td>
			</tr></table>
	</div>
</div>
<style>
	.task_num {
		width: 100%;
	}
</style>
<script>
	function insert_plain(time, num, index) {
		var $plain = $("#task_tpl").clone().attr('id', index);
		$plain.find('.time').text(time);
		$plain.find('.task_num').attr('name', 'plain['+time+']').val(num);
		$("#plain_list").append($plain);
	}
	work_plain = {$work_plain};
	var index = 0;
	for(var t in work_plain) {
		var num = work_plain[t];
		insert_plain(t, num, index);
		index++;
	}


	$("#clear_all").click(function() {
		$(".task_num").val('');
		$(".task_num").change();
	});
	$("#set_first").click(function() {
		$(".task_num").val($("#0 .task_num").val());
		$(".task_num").change();
	});

	$(".task_num").change(function() {
		var sum_num = 0;
		$(".task_num").each(function(i,e) {
			var $e = $(e);
			var v  = $e.val();
			if (v == '') {
				v = 0;
			} else {
				v = parseInt(v);
			}
			sum_num += v;
		});
		$("#sum_num").html(sum_num + '成功数');
	});
	$(function() {
		$(".task_num").change();
	});
</script>
<!-- PAGE CONTENT ENDS -->
<include file="Public/xfooter"/>