Package: com.nkaso.cargo.daemon
Name: cargodaemon
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: nkaso
Author: nkaso
Section: System
Tag: role::hacker
