Package: com.nkaso.cargo.springboard
Name: cargospring
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: nkaso
Author: nkaso
Section: Tweaks
