<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Executables</key>
		<array>
			<string>locationd</string>
			<string>fmfd</string>
			<string>seld</string>
			<string>AdSheet</string>
			<string>lockdownd</string>
			<string>familycircled</string>
			<string>storebookkeeperd</string>
			<string>installd</string>
			<string>fairplayd.H2</string>
			<string>Apppurchse</string>
			<string>appstored</string>
		</array>
		<key>Bundles</key>
		<array>
			<string>com.apple.adid</string>
			<string>com.apple.akd</string>
			<string>com.apple.itunesstored</string>
			<string>com.apple.AppStore</string>
			<!-- <string>com.apple.springboard</string> -->
		</array>
	</dict>
</dict>
</plist>
